<footer>
  <hr>
  <img src="/img/safe_checkout.png" alt="safe_checkout.png" class="float-right" width="200" height="" style="border-radius: 5px;">
  <p class="text-muted">Secure checkout powered by qualvapay</p>
  <strong class="text-muted">All rights reserved &copy; 2020</strong>
</footer>